[Unit]
Description=coinkeeper

[Service]
ExecStart=/home/ubuntu/www/coinkeeper/app.js
Restart=always
User=nobody
# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
Group=nogroup  
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/www/coinkeeper

[Install]
WantedBy=multi-user.target
