@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Quicksand;
}

.center-elem {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
